<h1 mat-dialog-title>Edytuj książkę pod tytułem {{ (book | async )?.title }}</h1>
<div mat-dialog-content>
  <mat-form-field value="x" style="min-width: 450px;">
    <input matInput #newAuthor value="{{ (book | async )?.author }}">
  </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field  style="min-width: 450px;">
      <input matInput #newTitle
      placeholder="Wpisz tytuł" value="{{ (book | async )?.title }}">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <mat-form-field  style="min-width: 450px; min-height: 125px;">
      <textarea rows="6" cols="20" matInput #newDesc
      placeholder="Opis" value="{{ (book | async )?.description }}"></textarea>
    </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button class="btn btn-secondary" (click)="onNoClick()">Zamknij</button>
  <button class="btn btn-primary" (click)="onUpdateBook(newAuthor.value, newTitle.value, newDesc.value)" cdkFocusInitial>Zapisz</button>
</div>

