<div class="main-books">
<div class="container-fluid main-all-book">
    <div class="container" id="books">
        <div id="books">
        <mat-card class="main-card" *ngFor="let book of books | async">
            <mat-card-header>
              <div mat-card-avatar></div>
              <mat-card-title>{{ book.title }}</mat-card-title>
              <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ book.description }}</p>
            </mat-card-content>
            <mat-card-actions >
              <button class="btn btn-default" (click)=" onGetKey(book.key)" (click)='openDialog()' >Edytuj</button>
              <button class="btn btn-danger" (click)="onDeleteBook(book.key)">Usuń</button>
            </mat-card-actions>
        </mat-card> 
        </div>
    </div>
</div>
</div>